Importing libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#read excel file
df = pd.read_excel('/content/drive/MyDrive/bamboo reponses.xlsx')

In [ ]:
# remove some non important columns like Email - name - etc..
df = df.drop('Email Address',axis = 1)
df = df.drop('Timestamp',axis = 1)
df = df.drop('Name',axis = 1)
df = df.drop('Any other feedback',axis = 1)

In [ ]:
#renaming some columns as they have very long descriptions 
df = df.rename(columns={"Which of the following bamboo products are you aware of that are used in day to day life at your home, town and village?": "products"})
df = df.rename(columns={"How frequently do you purchase the type of bamboo products listed below?\nThe drop down describe the frequency types (based on the usage): \nSeasonal (eg: bamboo fibre in winters)\nFestivals and and Occasions (for religious purposes)\nChoose\n": "frequency"})
df = df.rename(columns={df.columns[22]: 'class'})
df = df.rename(columns={df.columns[9]: 'build_material_rating'})
df = df.rename(columns={df.columns[10]: 'texture_rating'})
df = df.rename(columns={df.columns[11]: 'performance_rating'})
df = df.rename(columns={df.columns[12]: 'reliability_rating'})
df = df.rename(columns={df.columns[13]: 'features_rating'})
df = df.rename(columns={df.columns[23]: 'rating_subscription_service'})
df = df.rename(columns={df.columns[25]: 'subscription_fees_suggestions'})
df = df.rename(columns={df.columns[26]: 'toxicity_aware'})
df = df.rename(columns={df.columns[27]: 'utilizing_bamboo_in_home'})
df = df.rename(columns={df.columns[28]: 'upliftment_bamboo_industry'})

lis = ["Breakable nature of bamboo products."	,
"Resembled as poor man's product"	,
"Available of other competitive products which are more durable."	,
"Maintenance issues"	,
"Non availability of desired bamboo products in near market"	,
"Lack or no variety of products"	,
"Poor marketing of these products."	,
"Poor build and usage quality of bamboo products"]
count = 14
for i in lis:
  df = df.rename(columns={df.columns[count]: f'{i}'})
  count +=1

df = df.rename(columns={df.columns[24]: 'membership_features'})

In [ ]:
df = df.drop('products',axis = 1)
df = df.drop('membership_features',axis = 1)
df = df.drop('State',axis = 1)

In [ ]:
#let's explore the sheet after renaming and dropping columns
df

,Gender,Age,Education Level,Location Type,Occupation,Annual Family Income,frequency,build_material_rating,texture_rating,performance_rating,...,Non availability of desired bamboo products in near market,Lack or no variety of products,Poor marketing of these products.,Poor build and usage quality of bamboo products,class,rating_subscription_service,subscription_fees_suggestions,toxicity_aware,utilizing_bamboo_in_home,upliftment_bamboo_industry
0,Male,29-40,Post Graduate and above,Urban (City),Working Professional,Greater than or equal to 5 lakhs but less than...,Never,1.0,3.0,2.0,...,2.0,2.0,2.0,2.0,I don't buy as I don't use them,8.0,Upto 15% more than the price of other subscrip...,Yes,6.0,Don't know
1,Male,18-28,Graduate,Sub Urban (Township),Student,Greater than or equal to 10 lakhs,Monthly,1.0,1.0,1.0,...,2.0,2.0,1.0,3.0,Both,8.0,Equal to the price of other subscription produ...,Yes,7.0,Don't know
2,Male,18-28,Graduate,Rural (Village),Student,Greater than or equal to 5 lakhs but less than...,Festivals and Occassions,1.0,4.0,3.0,...,4.0,3.0,2.0,1.0,Both,8.0,Upto 15% more than the price of other subscrip...,Yes,7.0,No
3,Male,29-40,Post Graduate and above,Urban (City),Student,Greater than or equal to 1 lakhs but less than...,Used Once,5.0,4.0,5.0,...,5.0,3.0,5.0,1.0,Offline,8.0,Upto 10% more than the price of other subscrip...,No,6.0,Don't know
4,Male,18-28,Graduate,Sub Urban (Township),Student,Greater than or equal to 1 lakhs but less than...,Monthly,2.0,2.0,3.0,...,3.0,3.0,3.0,2.0,Online,5.0,Upto 5% more than the price of other subscript...,No,5.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Male,18-28,Under Graduate,Urban (City),Entrepreneur,Greater than or equal to 10 lakhs,Used Once,5.0,3.0,4.0,...,3.0,2.0,3.0,2.0,Both,4.0,Upto 10% more than the price of other subscrip...,Yes,4.0,No
195,Male,18-28,Below High School,Urban (City),Business,Greater than or equal to 5 lakhs but less than...,Seasonal,2.0,3.0,2.0,...,3.0,3.0,2.0,3.0,Both,7.0,Upto 10% more than the price of other subscrip...,Yes,3.0,No
196,Male,29-40,Post Graduate and above,Sub Urban (Township),Business,Greater than or equal to 5 lakhs but less than...,Used Once,2.0,3.0,2.0,...,2.0,3.0,3.0,2.0,Both,6.0,Upto 10% more than the price of other subscrip...,Yes,10.0,No
197,Male,18-28,Post Graduate and above,Urban (City),Business,Greater than or equal to 5 lakhs but less than...,Never,2.0,3.0,2.0,...,2.0,2.0,2.0,2.0,Both,4.0,Upto 5% more than the price of other subscript...,Yes,4.0,Yes
198,Male,18-28,Under Graduate,Urban (City),Student,Less than 1 Lakhs,Never,3.0,3.0,3.0,...,3.0,4.0,3.0,5.0,Both,3.0,Upto 5% more than the price of other subscript...,Yes,2.0,No

Preprocessing and Visualizing the data

In [ ]:
def cls(cls):
  if cls == "I don't buy as I don't use them":
    return 0
  else:
    return 1
df['class'] = df['class'].apply(cls)

In [ ]:
df['Gender'].unique()

array(['Male', 'Female', 'Prefer not to say'], dtype=object)

In [ ]:
def gender(gender):
  if gender == 'Male':
    return 0
  if gender == 'Female':
    return 1
  else:
    return 2
df['Gender'] = df['Gender'].apply(gender)

In [ ]:
df['Age'].unique()

array(['29-40', '18-28', 'Less than 18', '41-60'], dtype=object)

In [ ]:
def age_range(age):
  if age == 'Less than 18':
    return 0
  if age == '18-28':
    return 1
  if age == '29-40':
    return 2
  if age == '41-60':
    return 3
  if age == '61 or above':
    return 4
df['Age'] = df['Age'].apply(age_range)

In [ ]:
df['Education Level'].unique()

array(['Post Graduate and above', 'Graduate', 'Intermediate (Class 12th)',
       'Under Graduate', 'High School (Class 10th)', 'Illiterate',
       'Below High School'], dtype=object)

In [ ]:
def education_level(el):
  if el == 'Post Graduate and above':
    return 0
  if el == 'Illiterate':
    return 1
  if el == 'Below High School':
    return 2
  if el == 'High School (Class 10th)':
    return 3
  if el == 'Intermediate (Class 12th)':
    return 4
  if el == 'Under Graduate':
    return 5
  if el == 'Graduate':
    return 6
df['Education Level'] = df['Education Level'].apply(education_level)

In [ ]:
df['Occupation'].unique()

array(['Working Professional', 'Student', 'Entrepreneur', 'Business',
       'Homemaker'], dtype=object)

In [ ]:
def occupation(o):
  if o == 'Working Professional':
    return 0
  if o == 'Student':
    return 1
  if o == 'Entrepreneur':
    return 2
  if o == 'Business':
    return 3
  if o == 'Homemaker':
    return 4

df['Occupation'] = df['Occupation'].apply(occupation)

In [ ]:
df['Location Type'].unique()

array(['Urban (City)', 'Sub Urban (Township)', 'Rural (Village)',
       'Forest'], dtype=object)

In [ ]:
def location_type(loc):

  if loc == 'Urban (City)':
    return 0
  if loc == 'Sub Urban (Township)':
    return 1
  if loc == 'Rural (Village)':
    return 2
  else:
    return 3

df['Location Type'] = df['Location Type'].apply(location_type)

In [ ]:
df['Annual Family Income'].unique()

array(['Greater than or equal to 5 lakhs but less than 10 lakhs',
       'Greater than or equal to 10 lakhs',
       'Greater than or equal to 1 lakhs but less than 5 lakhs',
       'Less than 1 Lakhs'], dtype=object)

In [ ]:
def annual_family_income(afi):
  if afi == 'Greater than or equal to 5 lakhs but less than 10 lakhs':
    return 0
  if afi == 'Greater than or equal to 10 lakhs':
    return 1
  if afi == 'Greater than or equal to 1 lakhs but less than 5 lakhs':
    return 2
  if afi == 'Less than 1 Lakhs':
    return 3

df['Annual Family Income'] = df['Annual Family Income'].apply(annual_family_income)

In [ ]:
df['frequency'].unique()

array(['Never', 'Monthly', 'Festivals and Occassions', 'Used Once',
       'Seasonal', 'Daily', 'Weekly'], dtype=object)

In [ ]:
def frequency(freq):
  if freq == 'Never':
    return 0
  if freq == 'Monthly':
    return 1
  if freq == 'Festivals and Occassions':
    return 2
  if freq == 'Used Once':
    return 3
  if freq == 'Seasonal':
    return 4
  if freq == 'Daily':
    return 5
  if freq == 'Weekly':
    return 6
df['frequency'] = df['frequency'].apply(frequency)

In [ ]:
df['rating_subscription_service'].unique()

array([ 8.,  5.,  7.,  9.,  4.,  6., 10.,  3.,  1.,  2.])

In [ ]:
df['subscription_fees_suggestions'].unique()

array(['Upto 15% more than the price of other subscription products you pay for, either product or service.',
       'Equal to the price of other subscription products you pay for, either product or service.',
       'Upto 10% more than the price of other subscription products you pay for, either product or service.',
       'Upto 5% more than the price of other subscription products you pay for, either product or service.'],
      dtype=object)

In [ ]:
def subscription_fees_suggestions(sfs):
  if sfs == 'Upto 15% more than the price of other subscription products you pay for, either product or service.':
    return 0
  if sfs == 'Equal to the price of other subscription products you pay for, either product or service.':
    return 1
  if sfs == 'Upto 10% more than the price of other subscription products you pay for, either product or service.':
    return 2
  if sfs == 'Upto 5% more than the price of other subscription products you pay for, either product or service.':
    return 3

df['subscription_fees_suggestions'] = df['subscription_fees_suggestions'].apply(subscription_fees_suggestions)

In [ ]:
df['toxicity_aware'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
def toxicity_aware(ta):
  if ta == 'Yes':
    return 0
  if ta == 'No':
    return 1


df['toxicity_aware'] = df['toxicity_aware'].apply(toxicity_aware)

In [ ]:
df['utilizing_bamboo_in_home'].unique()

array([ 6.,  7.,  5., 10.,  8.,  9.,  3.,  4.,  1.,  2.])

In [ ]:
df['upliftment_bamboo_industry'].unique()

array(["Don't know", 'No', 'Yes'], dtype=object)

In [ ]:
def upliftment_bamboo_industry(upi):
  if upi == 'Yes':
    return 0
  if upi == 'No':
    return 1
  else:
    return 2


df['upliftment_bamboo_industry'] = df['upliftment_bamboo_industry'].apply(upliftment_bamboo_industry)

In [ ]:
df['build_material_rating'].unique()

array([ 1.,  5.,  2.,  4.,  3., nan])

In [ ]:
def neg_nan(upi):
  if upi == 1:
    return 1
  if upi == 2:
    return 2
  if upi == 3:
    return 3
  if upi == 4:
    return 4
  if upi == 5:
    return 5
  else:
    return 0


df['build_material_rating'] = df['build_material_rating'].apply(neg_nan)
df['texture_rating'] = df['texture_rating'].apply(neg_nan)
df['performance_rating'] = df['performance_rating'].apply(neg_nan)
df['reliability_rating'] = df['reliability_rating'].apply(neg_nan)
df['features_rating'] = df['features_rating'].apply(neg_nan)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 26 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Gender                                                           199 non-null    int64
 1   Age                                                              199 non-null    int64
 2   Education Level                                                  199 non-null    int64
 3   Location Type                                                    199 non-null    int64
 4   Occupation                                                       199 non-null    int64
 5   Annual Family Income                                             199 non-null    int64
 6   frequency                                                        199 non-null    int64
 7   build_material_rating                                            199 non-null    int64
 8   texture_rating                                                   199 non-null    int64
 9   performance_rating                                               199 non-null    int64
 10  reliability_rating                                               199 non-null    int64
 11  features_rating                                                  199 non-null    int64
 12  Breakable nature of bamboo products.                             199 non-null    float64
 13  Resembled as poor man's product                                  199 non-null    float64
 14  Available of other competitive products which are more durable.  199 non-null    float64
 15  Maintenance issues                                               199 non-null    float64
 16  Non availability of desired bamboo products in near market       199 non-null    float64
 17  Lack or no variety of products                                   199 non-null    float64
 18  Poor marketing of these products.                                199 non-null    float64
 19  Poor build and usage quality of bamboo products                  199 non-null    float64
 20  class                                                            199 non-null    int64
 21  rating_subscription_service                                      199 non-null    float64
 22  subscription_fees_suggestions                                    199 non-null    int64
 23  toxicity_aware                                                   199 non-null    int64
 24  utilizing_bamboo_in_home                                         199 non-null    float64
 25  upliftment_bamboo_industry                                       199 non-null    int64
dtypes: float64(10), int64(16)
memory usage: 40.5 KB

In [ ]:
X_train = df.drop("class", axis=1)
Y_train = df["class"]

In [ ]:
X_train.shape, Y_train.shape

((199, 25), (199,))

Bulding Logistic Regression from scratch

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings( "ignore" )

# to compare our model's accuracy with sklearn model
from sklearn.linear_model import LogisticRegression
# Logistic Regression
class LogitRegression() :
	def __init__( self, learning_rate, iterations ) :		
		self.learning_rate = learning_rate		
		self.iterations = iterations
		
	# Function for model training	
	def fit( self, X, Y ) :		
		# no_of_training_examples, no_of_features		
		self.m, self.n = X.shape		
		# weight initialization		
		self.W = np.zeros( self.n )		
		self.b = 0		
		self.X = X		
		self.Y = Y
		
		# gradient descent learning
				
		for i in range( self.iterations ) :			
			self.update_weights()			
		return self
	
	# Helper function to update weights in gradient descent
	
	def update_weights( self ) :		
		A = 1 / ( 1 + np.exp( - ( self.X.dot( self.W ) + self.b ) ) )
		
		# calculate gradients		
		tmp = ( A - self.Y.T )		
		tmp = np.reshape( tmp, self.m )		
		dW = np.dot( self.X.T, tmp ) / self.m		
		db = np.sum( tmp ) / self.m
		
		# update weights	
		self.W = self.W - self.learning_rate * dW	
		self.b = self.b - self.learning_rate * db
		
		return self
	
	# Hypothetical function h( x )
	
	def predict( self, X ) :	
		Z = 1 / ( 1 + np.exp( - ( X.dot( self.W ) + self.b ) ) )		
		Y = np.where( Z > 0.5, 1, 0 )		
		return Y


# Driver code

def main() :
	
	# Importing dataset	
	X = df.drop("class", axis=1)
	Y = df["class"]
	
	# Splitting dataset into train and test set
	X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0 )
	
	# Model training	
	model = LogitRegression( learning_rate = 0.01, iterations = 1000 )
	
	model.fit( X_train, Y_train )	
	model1 = LogisticRegression()	
	model1.fit( X_train, Y_train)
	
	# Prediction on test set
	Y_pred = model.predict( X_test )	
	Y_pred1 = model1.predict( X_test )
	
	# measure performance	
	correctly_classified = 0	
	correctly_classified1 = 0
	Y_test =Y_test.tolist()
	# counter	
	count = 0	
	for count in range( np.size( Y_pred ) ) :
		
		if Y_test[count] == Y_pred[count] :			
			correctly_classified = correctly_classified + 1
		
		if Y_test[count] == Y_pred1[count] :			
			correctly_classified1 = correctly_classified1 + 1
			
		count = count + 1
		
	print( "Accuracy on test set by our model	 : ", (
	correctly_classified / count ) * 100 )
	print( "Accuracy on test set by sklearn model : ", (
	correctly_classified1 / count ) * 100 )


if __name__ == "__main__" :	
	main()

Accuracy on test set by our model	 :  90.0
Accuracy on test set by sklearn model :  92.5

Bulding SVM from Scratch

In [ ]:
import numpy as np 
from sklearn.svm import SVC


class SVM:

    def __init__(self, C = 1.0):
        # C = error term
        self.C = C
        self.w = 0
        self.b = 0

    # Hinge Loss Function / Calculation
    def hingeloss(self, w, b, x, y):
        # Regularizer term
        reg = 0.5 * (w * w)

        for i in range(x.shape[0]):
            # Optimization term
            opt_term = y[i] * ((np.dot(w, x[i])) + b)

            # calculating loss
            loss = reg + self.C * max(0, 1-opt_term)
        return loss[0][0]

    def fit(self, X, Y, batch_size=100, learning_rate=0.001, epochs=1000):
        # The number of features in X
        number_of_features = X.shape[1]

        # The number of Samples in X
        number_of_samples = X.shape[0]

        c = self.C

        # Creating ids from 0 to number_of_samples - 1
        ids = np.arange(number_of_samples)

        # Shuffling the samples randomly
        np.random.shuffle(ids)

        # creating an array of zeros
        w = np.zeros((1, number_of_features))
        b = 0
        losses = []

        # Gradient Descent logic
        for i in range(epochs):
            # Calculating the Hinge Loss
            l = self.hingeloss(w, b, X, Y)

            # Appending all losses 
            losses.append(l)
            
            # Starting from 0 to the number of samples with batch_size as interval
            for batch_initial in range(0, number_of_samples, batch_size):
                gradw = 0
                gradb = 0

                for j in range(batch_initial, batch_initial+ batch_size):
                    if j < number_of_samples:
                        x = ids[j]
                        ti = Y[x] * (np.dot(w, X[x].T) + b)

                        if ti > 1:
                            gradw += 0
                            gradb += 0
                        else:
                            # Calculating the gradients

                            #w.r.t w 
                            gradw += c * Y[x] * X[x]
                            # w.r.t b
                            gradb += c * Y[x]

                # Updating weights and bias
                w = w - learning_rate * w + learning_rate * gradw
                b = b + learning_rate * gradb
        
        self.w = w
        self.b = b

        return self.w, self.b, losses

    def predict(self, X):
        
        prediction = np.dot(X, self.w[0]) + self.b # w.x + b
        return np.sign(prediction)
# Driver code

def main() :
	
	# Importing dataset	
	X = df.drop("class", axis=1)
	Y = df["class"]
	
	# Splitting dataset into train and test set
	X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0 )
	
	# Model training	
	model = SVM()
	Y_train = np.array(Y_train)
	X_train = np.array(X_train)
	model.fit( X_train, Y_train )	
	model1 = SVC()	
	model1.fit( X_train, Y_train)
	
	# Prediction on test set
	Y_pred = model.predict( X_test )	
	Y_pred1 = model1.predict( X_test )
	# measure performance	
	correctly_classified = 0	
	correctly_classified1 = 0
	Y_test =Y_test.tolist()
	# counter	
	count = 0	
	for count in range( np.size( Y_pred ) ) :
		
		if Y_test[count] == Y_pred[count] :			
			correctly_classified = correctly_classified + 1
		
		if Y_test[count] == Y_pred1[count] :			
			correctly_classified1 = correctly_classified1 + 1
			
		count = count + 1
		
	print( "Accuracy on test set by our model	 : ", (
	correctly_classified / count ) * 100 )
	print( "Accuracy on test set by sklearn model : ", (
	correctly_classified1 / count ) * 100 )


if __name__ == "__main__" :	
	main()

Accuracy on test set by our model	 :  90.0
Accuracy on test set by sklearn model :  90.0